@import "../css/normalize.scss";
@import "../css/foundation.min.scss";
@import "../css/popup.scss";

/*************************
GENERAL
*************************/

.transition-02 {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h4 {
  font-family: 'Raleway', serif;
}

.banner-hero {
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: cover;
  min-height: 700px;
  max-height: 820px;
  background-color: #000;
  background-repeat: no-repeat;
  @media only screen and (max-width: 480px) {
    min-height: 400px;
    max-height: 500px;
  }
  h3 {
    color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 1px #000;
    text-rendering: inherit;
    letter-spacing: 1.5px;
    @media only screen and (max-width: 480px) {
      font-size: 18px;
      padding: 0 40px;
    }
    &::selection {
      background: #000; /* WebKit/Blink Browsers */
    }
    &::-moz-selection {
      background: #000; /* Gecko Browsers */
    }
  }
}

.row {
  text-align: center;
}

.fadeOut {
  opacity: 1;
}

i.fa.fa-angle-down.fa-4x {
  margin-top: 20px;
  color: #fff;
  -webkit-animation: fadeDown 2s ease-in-out infinite;
  -moz-animation:    fadeDown 2s ease-in-out infinite;
  animation:         fadeDown 2s ease-in-out infinite;
  @media only screen and (max-width: 480px) {
    margin-top: 5px;
    font-size: 48px;
  }
}

/*animated scroll arrow animation*/
@-webkit-keyframes fadeDown {
  0%   { -webkit-transform:translate(0,-10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px); opacity: 0; }
}
@-moz-keyframes fadeDown {
  0%   { -moz-transform:translate(0,-10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px); opacity: 0; }
}
@keyframes fadeDown {
  0%   { transform:translate(0,-10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px); opacity: 0; }
}

/*************************
FOOTER
*************************/

.footer-hero {
  background-color: #fff;
  background-image: url("../img/footer.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 700px;
  max-height: 900px;
  background-repeat: no-repeat;
  @media only screen and (max-width: 480px) {
    min-height: 450px;
    background-size: cover;
  }
}

.row-footer {
  padding-top: 120px;
  text-align: center;
  @media only screen and (max-width: 480px) {
    padding-top: 50px;
  }
  img {
    &:hover {
      -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    }
    @media only screen and (max-width: 480px) {
      width: 200px;
    }
  }
}

.row-footer h2 {
  color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  margin-top: 25px;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000;
  font-size: 30px;
  text-transform: uppercase;
  &::selection {
    background: #000; /* WebKit/Blink Browsers */
  }
  &::-moz-selection {
    background: #000; /* Gecko Browsers */
  }
  @media only screen and (max-width: 480px) {
    font-size: 20px;
  }
}

.large-6 {
  float: center;
}

.panel.callout.radius h1 {
  color: #F5F5F5;
  font-family: 'Raleway', serif;
}

.panel.callout.radius h4 {
  color: #F5F5F5;
  font-family: 'Raleway', serif;
}

.panel.callout.radius {
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  border-style: none;
}

.inline-list {
  position: relative;
  overflow: visible;
  float: left;
  left: 50%;
}

.inline-list > li {
  position: relative;
  right: 50%;
}

.social {
  margin-top: 20px;
  text-align: center;
}
.social li {
  display: inline-block;
  margin-right: 15px;
  a {
    color: #fff;
    @extend .transition-02;
    &:hover {
      color: #3498db;
    }
  }
}

/*************************
LOGO PARALLAX
*************************/

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 7% 5% 5%;
  @media only screen and (max-width: 480px) {
    padding: 7% 15% 10%;
  }
}

.scene {
  padding: 0;
  margin: 0;
}

img {
  width: auto;
}

/*************************
ACCORDION
*************************/

.accordion {
  font-family: 'Raleway', serif;
  color: #323232;
  dd > .accordion-title {
    font-size: 2em;
    font-family: 'Open Sans', serif;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
    letter-spacing: 2.2px;
    &:hover {
      letter-spacing: 5px;
      color: #3498db;
    }
    @extend .transition-02;
    @media only screen and (max-width: 480px) {
      font-size: 1.3em;
      padding: 0.4rem;
    }
    &:hover {
      background-color: #fff;
    }
  }
}

.accordion dd.active .accordion-title {
  background-color: #fff;
  outline: none;
  letter-spacing: 5px;
  color: #3498db;
}

.container-about {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  p {
    &::selection {
      background: #eee; /* WebKit/Blink Browsers */
    }
    &::-moz-selection {
      background: #eee; /* Gecko Browsers */
    }
    a {
      color: #323232;
      border-bottom: 1px dotted #323232;
      @extend .transition-02;
      &:hover {
        color: #3498db;
        border-bottom: 1px dotted #3498db;
      }
    }
    @media only screen and (max-width: 480px) {
      font-size: 14px;
    }
  }
  
}

.container-skill {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.container-gallery {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  height: 300px;
  position: relative;
  padding: 0 50px;
  @media only screen and (max-width: 480px) {
    height: 200px;
  }
}

#panel3 {
  position: relative;
}

#panel4 {
  padding-bottom: 50px;
}

.container-misc {
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
  //min-height: 500px;
}

/*************************
PROGRESS BAR
*************************/

.skill-list {
  list-style: none;
  margin: 0;
  padding: 1em;
}

.skill {
  margin-bottom: 1em;
  position: relative;
  background-color: #e3e3e3;
  z-index: 1;
  @media only screen and (max-width: 480px) {
    margin-bottom: 5px;
  }
  h2 {
    color: #fff;
    font-size: 1.2em;
    font-family: 'Raleway', serif;
    left: 1em;
    top: 0.3em;
    position: absolute;
    @media only screen and (max-width: 480px) {
      font-size: 0.9em;
    }
  }
  &:hover .skill-1 {
    background: #ff9e2c;
  }
  &:hover .skill-2 {
    background: #4ecdc4;
  }
  &:hover .skill-3 {
    background: #ff6b6b;
  }
  &:hover .skill-4 {
    background: #3498db;
  }
  &:hover .skill-5 {
    background: #9b59b6;
  }
  &:hover .skill-6 {
    background: #019875;
  }
}

.skill-1 {
  background: #ff9e2c;
  height: 45px;
  width: 0%;
  max-width: 100%;
  -webkit-animation: progress1 2s 1 forwards;
  -moz-animation: progress1 2s 1 forwards;
  -ms-animation: progress1 2s 1 forwards;
  animation: progress1 2s 1 forwards;
  @extend .transition-02;
  @media only screen and (max-width: 480px) {
    height: 35px;
  }
}

@-webkit-keyframes progress1 { 
  from { }
  to { width: 80% }
}

@-moz-keyframes progress1 { 
  from { }
  to { width: 80% }
}

@-ms-keyframes progress1 { 
  from { }
  to { width: 80% }
}

@keyframes progress1 { 
  from { }
  to { width: 80% }
}

.skill-2 {
  background: #4ecdc4;
  height: 45px;
  width: 0%;
  max-width: 100%;
  -webkit-animation: progress2 2s 1 forwards;
  -moz-animation: progress2 2s 1 forwards;
  -ms-animation: progress2 2s 1 forwards;
  animation: progress2 2s 1 forwards;
  @extend .transition-02;
  @media only screen and (max-width: 480px) {
    height: 35px;
  }
}

@-webkit-keyframes progress2 { 
  from { }
  to { width: 85% }
}

@-moz-keyframes progress2 { 
  from { }
  to { width: 85% }
}

@-ms-keyframes progress2 { 
  from { }
  to { width: 85% }
}

@keyframes progress2 { 
  from { }
  to { width: 85% }
}

.skill-3 {
  background: #ff6b6b;
  height: 45px;
  width: 0%;
  max-width: 100%;
  -webkit-animation: progress3 2s 1 forwards;
  -moz-animation: progress3 2s 1 forwards;
  -ms-animation: progress3 2s 1 forwards;
  animation: progress3 2s 1 forwards;
  @extend .transition-02;
  @media only screen and (max-width: 480px) {
    height: 35px;
  }
}

@-webkit-keyframes progress3 { 
  from { }
  to { width: 35% }
}

@-moz-keyframes progress3 { 
  from { }
  to { width: 35% }
}

@-ms-keyframes progress3 { 
  from { }
  to { width: 35% }
}

@keyframes progress3 { 
  from { }
  to { width: 35% }
}

.skill-4 {
  background: #3498db;
  height: 45px;
  width: 0%;
  max-width: 100%;
  -webkit-animation: progress4 2s 1 forwards;
  -moz-animation: progress4 2s 1 forwards;
  -ms-animation: progress4 2s 1 forwards;
  animation: progress4 2s 1 forwards;
  @extend .transition-02;
  @media only screen and (max-width: 480px) {
    height: 35px;
  }
}

@-webkit-keyframes progress4 { 
  from { }
  to { width: 80% }
}

@-moz-keyframes progress4 { 
  from { }
  to { width: 80% }
}

@-ms-keyframes progress4 { 
  from { }
  to { width: 80% }
}

@keyframes progress4 { 
  from { }
  to { width: 80% }
}

.skill-5 {
  background: #9b59b6;
  height: 45px;
  width: 0%;
  max-width: 100%;
  -webkit-animation: progress5 2s 1 forwards;
  -moz-animation: progress5 2s 1 forwards;
  -ms-animation: progress5 2s 1 forwards;
  animation: progress5 2s 1 forwards;
  @extend .transition-02;
  @media only screen and (max-width: 480px) {
    height: 35px;
  }
}

@-webkit-keyframes progress5 { 
  from { }
  to { width: 70% }
}

@-moz-keyframes progress5 { 
  from { }
  to { width: 70% }
}

@-ms-keyframes progress5 { 
  from { }
  to { width: 70% }
}

@keyframes progress5 { 
  from { }
  to { width: 70% }
}

.skill-6 {
  background: #019875;
  height: 45px;
  width: 0%;
  max-width: 100%;
  -webkit-animation: progress6 2s 1 forwards;
  -moz-animation: progress6 2s 1 forwards;
  -ms-animation: progress6 2s 1 forwards;
  animation: progress6 2s 1 forwards;
  @extend .transition-02;
  @media only screen and (max-width: 480px) {
    height: 35px;
  }
}

@-webkit-keyframes progress6 { 
  from { }
  to { width: 65% }
}

@-moz-keyframes progress6 { 
  from { }
  to { width: 65% }
}

@-ms-keyframes progress6 { 
  from { }
  to { width: 65% }
}

@keyframes progress6 { 
  from { }
  to { width: 65% }
}


/*************************
SLIDERS
*************************/

.portfolio-slider {
  max-width: 1200px;
}

.swiper-slide {
  width: 200px;
  height: 200px;
  background-color: transparent;
  a {
    color: #323232;
    @extend .transition-02;
    &:hover {
      color: #3498db;
    }
    @media only screen and (max-width: 480px) {
      font-size: 14px;
    }
  }
}

.nav-slide {
  color: #323232;
  font-size: 40px;
  cursor: pointer;
  color:rgba(255, 255, 255, 0.64);
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.nav-slide:hover{
  color: #323232;
}

.nav-slide .prev{
  color: #323232;
  left: -10px;
  position: absolute;
  z-index: 99;
  bottom: 55%;
  height: 50px;
  width: 50px;
  padding-top: 10px;
  opacity: 1;
  visibility: visible;
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

.nav-slide .next{
  color: #323232;
  right: -10px;
  position: absolute;
  z-index: 99;
  bottom: 55%;
  height: 50px;
  width: 50px;
  padding-top: 10px;
  opacity: 1;
  visibility: visible;
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

/*************************
POPUP
*************************/

.mfp-bottom-bar {
  margin-top: -40px;
  background: #444;
  padding-left: 20px;
  padding-bottom: 10px;
}

.mfp-title {
  text-align: center;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  @extend .transition-02;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}


/*************************
INSTAFEED
*************************/

#instafeed {
  a {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    border: 1px solid #fff;
    display: inline-block;
    @extend .transition-02;
    &:hover {
      filter: none;
      -webkit-filter: grayscale(0);
    }
    @media only screen and (max-width: 768px) {
      img {
        width: 90px;
      }
    }
  }
}

h1 {
  position: absolute;
  left: 50%;
  margin-left: -1.9em;
  color: hsla(0,0%,100%,.3);
}

h1:before {
  content: attr(data-content);
  position: absolute;
  overflow: hidden;
  max-width: 4em;
  color: white;
  animation: loading 10s linear;
}

@keyframes loading {
  from { max-width: 0; }
}

a:focus {
  outline: none;
}