.main {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  max-width: 100%;
}

.logo {
  position: absolute;
  z-index: 2;
}

.logoLayer {
  opacity: 0.7;
}

.logoWrapper {
  cursor: help;
}

.socials {
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 2;
}

.socialItem {
  position: relative;
}

.icon {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 2;
  opacity: 0.8;
}

.iconShadow {
  width: 50px;
  height: 50px;
  position: absolute;
  color:#EC65C3;
  top: 4px;
  left: 7px;
  opacity: 0.7;
}

@media only screen and (max-width: 640px) {

  .icon,
  .iconShadow {
    width: 30px;
    height: 30px;
  }
}
