.main {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  max-width: 100%;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}

.down {
  transform: translateY(100%);
}

.logo {
  position: absolute;
  z-index: 2;
}

.logoLayer {
  opacity: 0.7;
}

.logoWrapper {
  cursor: help;
}

.socials {
  display: flex;
  gap: 70px;
  position: relative;
  z-index: 2;
}

.socialItem {
  position: relative;
  cursor: pointer;
}

.icon {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 2;
  opacity: 0.8;
}

.iconShadow {
  width: 50px;
  height: 50px;
  position: absolute;
  color:#EC65C3;
  top: 4px;
  left: 4px;
  opacity: 0.7;
}

.socialIcon {
  display: inline-block;
  position: relative;
}

.socialText {
  font-size: 20px;
  font-weight: 500;
  text-shadow: 2px 2px #ED69A3;
  opacity: 0.8;
}

.socialItemWrapper {
  text-align: center;
  display: inline-block;
}

.projectWrapper {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 3;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 50px;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.projectWrapper h1 {
  font-size: 72px;
  font-weight: 500;
  margin: auto;
  text-transform: uppercase;
  max-width: 500px;
  text-align: left;
  line-height: 1;
  letter-spacing: 5px;
  position: relative;
}

.projectWrapper h1:hover {
  animation-name: glitch-anim-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.projectClose {
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px 40px 10px 10px;
  cursor: pointer;
  z-index: 5;
}

.projectInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.projectInner > div:nth-child(2) {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}

.projectItem > div:first-child {
  flex-basis: 80%;
  flex-grow: 0;
  flex-shrink: 0;
}

.projectItem > div:last-child {
  flex-basis: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}

.projectItem {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.projectItem:last-child {
  margin-bottom: 0;
}

.projectItem:hover h3 {
  animation-name: glitch-anim-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.projectItem h3 {
  font-size: 20px;
  margin: 0 0 3px;
}

.projectItem p {
  margin: 0;
  font-size: 16px;
  opacity: 0.7;
}

.projectLink a {
  display: flex;
  align-items: stretch;
  gap: 10px;
  justify-content: right;
}

.projectLink div {
  flex-grow: 0;
  flex-shrink: 0;
}

.projectIcon {
  position: relative;
  transform: rotate(-45deg);
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.projectLogo {
  position: relative;
  flex: 0 0 50%;
}

.projectImage {
  margin: 0 auto 150px;
  display: block;
  cursor: help;
}

.projectParallax {
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .projectInner {
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    justify-content: normal;
  }

  .projectInner h1 {
    margin: initial;
    font-size: 54px;
    margin-top: 50px;
  }

  .projectInner>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-basis: 70%;
    padding-bottom: 80px;
  }

  .projectImage {
    margin: 0 auto -30px;
    max-width: 100%;
  }

  .projectLogo {
    flex: auto;
  }
}

@media only screen and (max-width: 640px) {
  .center {
    justify-content: flex-start;
  }

  .icon,
  .iconShadow {
    width: 30px;
    height: 30px;
  }

  .socials {
    gap: 30px;
  }

  .socialText {
    font-size: 16px;
  }

  .projectItem {
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 40px;
  }

  .projectItem:last-child {
    margin-bottom: 60px;
  }

  .projectWrapper {
    padding: 20px 20px 0;
  }

  .projectClose {
    padding: 60px 10px 0 0;
    width: 40px;
  }

  .projectInner h1 {
    font-size: 48px;
  }
}

@keyframes glitch-anim-1 {
  0% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }

  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }

  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }

  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }

  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }

  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }

  21.9% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
  }

  22%,
  30% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
